body {
  margin: 0;
  height: 100vh;
  background-image: url(img/stars.jpeg);
  overflow: hidden;
}
.container {
  height: 100%;

  padding: 80px 0;
}
.row {
  height: 100%;
}
.middle-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.solar-system {
  font-size: 6px;
  width: 40em;
  height: 40em;
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  height: 130%;
  width: 130%;
}
.sun-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0 0 3em rgb(255, 128, 0);
  animation: orbit 50s linear infinite;
}
.sun-img.big-size img {
  height: 100vh;
  width: 100vh;
}

.mercury,
.venus,
.earth,
.moon,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;

  color: #fff;

  margin-bottom: 10px;
}

.mercury {
  top: 12.5em;
  left: 12.5em;
  width: 15em;
  height: 15em;
  animation: orbit 68.7s linear infinite;
}
.mercury-img {
  width: 2em;
  height: 2em;

  transition: width 0.5s, height 0.5s;
}

.venus {
  top: 10em;
  left: 10em;
  width: 20em;
  height: 20em;
  animation: orbit 48.7s linear infinite;
}
.venus-img {
  width: 2em;
  height: 2em;

  transition: width 0.5s, height 0.5s;
}

.earth {
  top: 6em;
  left: 6em;
  width: 28em;
  height: 28em;
  animation: orbit 36.5s linear infinite;
}
.earth-img {
  width: 5em;
  height: 5em;

  transition: width 0.5s, height 0.5s;
}

.moon {
  top: 2em;
  right: -1em;
  width: 7em;
  height: 7em;
  animation: orbit 2.7s linear infinite;
}
.moon-img {
  width: 3em;
  height: 3em;

  transition: width 0.5s, height 0.5s;
}

.mars {
  top: 2em;
  left: 2.5em;
  width: 36em;
  height: 36em;
  animation: orbit 26.5s linear infinite;
}
.mars-img {
  width: 3em;
  height: 3em;

  transition: width 0.5s, height 0.5s;
}

.jupiter {
  top: -2em;
  left: -2em;
  width: 45em;
  height: 45em;
  animation: orbit 21s linear infinite;
}
.jupiter-img {
  width: 5em;
  height: 5em;

  transition: width 0.5s, height 0.5s;
}

.saturn {
  top: -7em;
  left: -7em;
  width: 55em;
  height: 55em;
  animation: orbit 17s linear infinite;
}
.saturn-img {
  width: 4.5em;
  height: 4.5em;

  transition: width 0.5s, height 0.5s;
}

.uranus {
  top: -12em;
  left: -12em;
  width: 65em;
  height: 65em;
  animation: orbit 19s linear infinite;
  -webkit-animation: orbit 19s linear infinite;
}
.uranus-img {
  width: 4em;
  height: 4em;

  transition: width 0.5s, height 0.5s;
}

.neptune {
  top: -17em;
  left: -17em;
  width: 75em;
  height: 75em;
  animation: orbit 15s linear infinite;
  -webkit-animation: orbit 15s linear infinite;
}
.neptune-img {
  width: 4em;
  height: 4em;

  transition: width 0.5s, height 0.5s;
}

.pluto {
  top: -22em;
  left: -22em;
  width: 85em;
  height: 85em;
  animation: orbit 18s linear infinite;
}
.pluto-img {
  width: 4em;
  height: 4em;

  transition: width 0.5s, height 0.5s;
}

.mercury-img::before,
.venus-img::before,
.earth-img::before,
.moon-img::before,
.mars-img::before,
.jupiter-img::before,
.saturn-img::before,
.uranus-img::before,
.neptune-img::before,
.pluto-img::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: orbit 30s linear infinite;
}
.mercury-img::before {
  top: 1.5em;
  right: 0.8em;
  width: 2em;
  height: 2em;
  background-image: url("img/mercury.png");
  background-size: cover;
}
.venus-img::before {
  top: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  background-image: url("img/venus.png");
  background-size: cover;
}
.earth-img::before {
  top: 3em;
  right: 0em;
  width: 5em;
  height: 5em;
  background-image: url("img/earth.png");
  background-size: cover;
}

.moon-img::before {
  top: 0.8em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  background-image: url("img/moon.png");
  background-size: cover;
}
.mars-img::before {
  top: 5em;
  right: 3em;
  width: 3em;
  height: 3em;
  background-image: url("img/mars.png");
  background-size: cover;
}
.jupiter-img::before {
  top: 6em;
  right: 3em;
  width: 5em;
  height: 5em;
  background-image: url("img/jupiter.png");
  background-size: cover;
}
.saturn-img::before {
  top: 7.5em;
  right: 5em;
  width: 4.5em;
  height: 4.5em;
  background-image: url("img/saturn.png");
  background-size: cover;
}
.uranus-img::before {
  top: 9em;
  right: 6.5em;
  width: 4em;
  height: 4em;
  background-image: url("img/uranus.png");
  background-size: cover;
}
.neptune-img::before {
  top: 10em;
  right: 8em;
  width: 4em;
  height: 4em;
  background-image: url("img/neptune.png");
  background-size: cover;
}
.pluto-img::before {
  top: 11em;
  right: 10em;
  width: 4em;
  height: 4em;
  background-image: url("img/pluto.png");
  background-size: cover;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* خلفية شفافة */
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.mercury-img.big-size::before,
.venus-img.big-size::before,
.earth-img.big-size::before,
.moon-img.big-size::before,
.mars-img.big-size::before,
.jupiter-img.big-size::before,
.saturn-img.big-size::before,
.uranus-img.big-size::before,
.neptune-img.big-size::before,
.pluto-img.big-size::before {
  width: 100em;
  height: 100em;

  animation: none;

  top: 0;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Planets Select */
.planets-select .form-select {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: solid 2px;
  border-radius: 1px;

  text-transform: capitalize;
}

.planets-select .form-select:focus {
  border: #222;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ccc;
}

.planets-select .form-select option {
  background-color: #222;
  color: #fff;
}

/* Planet Info */
.planet-info {
  color: #fff;
}
